#root {
  font-size: 1rem;
  max-width: 1280px;
  margin: 0;
  padding: 0 rem;
  text-align: center;
  background-color: black;
  color: white;
}

.item_container {
  text-align: left;
  font-size: 1rem;
  padding: 0.1rem 0rem;
  margin: 0;
}



.item{
  display:block;
  font-weight: lighter;
  border: 1px solid #adadad;
  border-radius: 2px;
  padding: 1rem;
  margin: 1rem;
}

.item_2{
  font-weight: lighter;
  border: 1px solid #adadad;
  border-radius: 2px;
  padding: 1rem;
  margin: 0rem 1rem;
}

.item_title{
  font-weight: bold;
  
}

.item_title_2{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  
}

.item_descript{
  font-weight: lighter;
  color: #eeeeee;
}
.selected{
  border: 2px solid #646cff;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}


/* Cuando la pantalla es angosta, pasamos a 1 sola columna */
@media (max-width: 600px) {
  .item_container {
    grid-template-columns: 1fr;
  }
}

